<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zch.user.mapper.UserMapper">
	<resultMap id="BaseResultMap" type="com.zch.user.domain.po.User">
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="user_name" jdbcType="VARCHAR" property="userName"/>
		<result column="phone" jdbcType="VARCHAR" property="phone"/>
		<result column="password" jdbcType="VARCHAR" property="password"/>
		<result column="type" jdbcType="TINYINT" property="type"/>
		<result column="status" jdbcType="TINYINT" property="status"/>
		<result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
		<result column="created_time" jdbcType="DATE" property="createdTime"/>
		<result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
		<result column="updated_time" jdbcType="DATE" property="updatedTime"/>
		<result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
	</resultMap>
	<sql id="Base_Column_List">
		id, user_name, phone, `password`, `type`, `status`, created_by, created_time, updated_by,
    updated_time, is_delete
	</sql>
	<select id="selectByUserNameOrPhoneUser" parameterType="string" resultMap="BaseResultMap">
		select
		    <include refid="Base_Column_List"/>
		    from user
		where 1=1
		    <if test="userName != '' || userName != null">
				 and user_name=#{userName}
			</if>
		    <if test="phone != '' || phone != null">
				and phone=#{phone}
			</if>
		limit 1;
	</select>
	<select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user
		where id = #{id}
	</select>
	<update id="deleteById" parameterType="java.lang.Long">
		update user
		set is_delete=1
		where id = #{id}
	</update>
	<insert id="insert" parameterType="com.zch.user.domain.po.User">
		insert into user (id, user_name, phone, `password`,
						  `type`, `status`, created_by, created_time,
						  updated_by, updated_time, is_delete)
		values (#{id}, #{userName}, #{phone}, #{password},
				#{type}, #{status}, #{createdBy}, #{createdTime},
				#{updatedBy}, #{updatedTime}, #{isDelete})
	</insert>
	<update id="updateById" parameterType="com.zch.user.domain.po.User">
		update user
		set user_name    = #{userName},
			phone        = #{phone},
			`password`   = #{password},
			`type`       = #{type},
			`status`     = #{status},
			created_by   = #{createdByR},
			created_time = #{createdTime},
			updated_by   = #{updatedBy},
			updated_time = #{updatedTime},
			is_delete    = #{isDelete}
		where id = #{id}
	</update>
</mapper>
