<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zch.user.mapper.UserMapper">

	<select id="queryRegisterCount" resultType="com.zch.user.domain.dto.UserCountDTO">
		SELECT
			DATE(created_time) AS orderDate, COUNT(*) AS count
		FROM
			user
		WHERE
			is_delete = 0
		AND
			created_time &gt;= NOW() - INTERVAL 7 DAY
		AND
			created_time &lt; NOW() + INTERVAL 1 DAY
		GROUP BY
			DATE(created_time)
		ORDER BY
			DATE(created_time) DESC
	</select>

</mapper>
