<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zch.label.mapper.CategoryMapper">
	<resultMap id="BaseResultMap" type="com.zch.label.domain.po.Category">
		<id column="id" jdbcType="BIGINT" property="id"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
		<result column="type" jdbcType="TINYINT" property="type"/>
		<result column="created_by" jdbcType="BIGINT" property="createdBy"/>
		<result column="created_time" jdbcType="DATE" property="createdTime"/>
		<result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
		<result column="updated_time" jdbcType="DATE" property="updatedTime"/>
		<result column="is_delete" jdbcType="TINYINT" property="isDelete"/>
	</resultMap>
	<sql id="Base_Column_List">
		id, `name`, `type`, created_by, created_time, updated_by, updated_time, is_delete
	</sql>

	<select id="selectCategoryList" resultMap="BaseResultMap">
		select
		    <include refid="Base_Column_List" />
		from category
		where is_delete=0
	</select>

	<select id="selectCategoryByCondition" parameterType="com.zch.label.domain.query.CategoryTagQuery" resultMap="BaseResultMap">
		select
		    <include refid="Base_Column_List" />
		from category
		where 1=1
		    <if test="categoryName != '' and categoryName != null">
				and name like concat('%', #{categoryName}, '%')
			</if>
			<if test="type != '' and type != null">
				and type like concat('%', #{type}, '%')
			</if>
		and is_delete=0
	</select>

	<select id="selectCategoryById" parameterType="long" resultMap="BaseResultMap">
		select
		    <include refid="Base_Column_List" />
		from category
		where id=#{id} and is_delete=0
	</select>

	<select id="selectCategoryByNameAndType" resultMap="BaseResultMap">
		select
		    <include refid="Base_Column_List" />
		from category
		where name=#{name} and type=#{type} and is_delete=0
	</select>

	<insert id="insertCategory" parameterType="com.zch.label.domain.po.Category">
		insert into
		category(id, name, type, created_by, created_time, updated_by, updated_time)
		values (#{id}, #{name}, #{type}, #{createdBy}, #{createdTime}, #{updatedBy}, #{updatedTime})
	</insert>

	<update id="deleteCategory" parameterType="com.zch.label.domain.po.Category">
		update category
		set is_delete=1, updated_by=#{updatedBy}, updated_time=#{updatedTime}
		where id=#{id} and is_delete=0
	</update>

	<update id="updateCategory" parameterType="com.zch.label.domain.po.Category">
		update category
		set
		    <if test="name != '' and name != null">
				name=#{name},
			</if>
		    <if test="type != '' and type != null">
				type=#{type},
			</if>
				updated_by=#{updatedBy}, updated_time=#{updatedTime}
		where id=#{id} and is_delete=0
	</update>

</mapper>
