<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zch.course.mapper.CourseMapper">

	<resultMap id="CourseResultMap" type="com.zch.course.domain.po.Course">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="name" column="name" />
		<result property="sellType" column="sell_type" />
		<result property="price" column="price" />
		<result property="status" column="status" />
		<result property="score" column="score" />
		<result property="duration" column="duration" />
		<result property="sectionNum" column="section_num" />
		<result property="teacher" column="teacher" />
		<result property="intro" column="intro" />
		<result property="description" column="description" />
		<result property="pictureLink" column="picture_link" />
		<result property="sellNum" column="sell_num" />
		<result property="createdBy" column="created_by" />
		<result property="createdTime" column="created_time" />
		<result property="updatedTime" column="updated_time" />
		<result property="updatedBy" column="updated_by" />
		<result property="isDelete" column="is_delete" />
		<result property="groundingTime" column="grounding_time" />
		<result property="isShow" column="is_show" />
		<result property="type" column="type" />
		<result property="categoryId" column="category_id" />
	</resultMap>

	<sql id="courseColumns">
		id, title, `name`, sell_type, price, `status`, score, duration, section_num,
    teacher, intro, `description`, picture_link, sell_num, created_by, created_time, updated_by,
    updated_time, is_delete, grounding_time, is_show, type, category_id
	</sql>

	<select id="selectCount" resultType="_integer">
		select count(*) from course
	</select>

	<select id="getCoursePageByCondition" resultMap="CourseResultMap">
		select
		<include refid="courseColumns" />
		from course
		where 1=1
		<if test="keywords != '' and keywords != null">
			and keywords like concat('%', #{keywords}, '%')
		</if>
		<if test="cid != null">
			and cid = #{cid}
		</if>
		<if test="id != null">
			and id = #{id}
		</if>
		<if test="(sort == '' and sort == null) or (order == '' and order == null)">
			order by id desc
		</if>
		<if test="(sort != '' and sort != null) and (order != '' and order != null)">
			order by ${sort} ${order}
		</if>
		<if test="pageNum == null or pageSize == null">
			limit 0, 10
		</if>
		<if test="pageNum != null and pageSize != null">
			limit #{pageNum}, #{pageSize}
		</if>
	</select>

</mapper>
